*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .row{
  background: cadetblue;
} */

nav .collapse.navbar-collapse{
  margin-left: 0.8em;
}
nav .nav-item:not(.first){
  margin: 0 0.2em 0 0.2em;
}
nav .nav-item.end{
  margin: 0 0.4em 0 0.4em;
}

.searchbar-margin-left{
  margin-left: 1em;
}
nav .navbar-brand{
  margin-left: 1em;
  font-size: 1.7rem;
}

nav form.no-wrap{
  flex-wrap: nowrap;
}

.no-flex{
  flex: none;
}
.height-6em{
  height: 6em;
}
.container-responsive{
  flex: none;
}

.width-100{
  width: none;
}
.destination-info{
  bottom: 1em;
  left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  flex-shrink: 5;
}
.reviews__icon{
  border-radius: 50%;
  width: 10em;
  height: 10em;
  background: rgb(139, 159, 196);
}
/* .reviews__svg-icon{
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 8em;
  color: white;
} */

.reviews{
  padding: 7em 0 7em 0;
  background: rgb(193, 215, 255);
}
.unordered-list{
  list-style-type: none
}
.margin-top-7{
  margin-top: 7em;
}

/* @include media-breakpoint-only(sm){
  nav .navbar-brand{
    font-size: 40rem;
  }
} */

@media all and (max-width: 1199px){
  .width-100{
    width: 100% !important;
  }
}